<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
  <link rel='stylesheet' href='/stylesheets/pace-theme-big-counter.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/main-style.css' />
  <link rel='stylesheet' href='/stylesheets/dataTables.bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/morris-0.4.3.min.css' />

</head>

<body>
  {{{body}}}

  <script src="/javascripts/jquery-1.10.2.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/jquery.metisMenu.js"></script>
  <script src="/javascripts/pace.js"></script>
  <script src="/javascripts/siminta.js"></script>
  <script src="/javascripts/jquery.dataTables.js"></script>
  <script src="/javascripts/dataTables.bootstrap.js"></script>
  <script>
    $(document).ready(function () {
      $('#dataTables-example').dataTable();
    });
  </script>
  <script src="/javascripts/raphael-2.1.0.min.js"></script>
  <script src="/javascripts/morris.js"></script>
  <script src="/javascripts/morris-demo.js"></script>
</body>

</html>